@model List<SimpleMovieSearch.Domain.Entity.Movie> 


<div class="row first__title text-center">
    @foreach (var movie in Model)
    {
        <div class="container-fluid  col-md-2 text-center">
            <div class="col ">
                       
                @*<div class="card-body">        
                    <p>@movie.Description</p>
                </div>*@    
                <div class="">
                    <a asp-action="GetMovie" asp-route-id="@movie.Id" class="">
                        <img src="@movie.Image" class="imagePosters filmEffect  image-dark"  alt="@movie.Name"></a>
                        <h5 class="text-center">@movie.Name</h5>     
                    @* <a asp-controller="Basket" asp-action="Add" asp-route-id="@id" class="card-link">Добавить</a> *@
                        <div class="card-body">
                               
                        @if (User.IsInRole("Admin"))
                        { <button class="btn btn-primary" onclick="openModal({ url: '/Movie/Save', data: '@movie.Id' })"
                                data-toggle="ajax-modal" data-target="Modal">Открыть</button>
                            <a asp-controller="Car" asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger">Удалить</a>
                        }
                        </div>
                </div>
                    
            </div>
        </div>
    }
</div>
   
